body {
    margin: 20px;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

table, img {
    display:inline-block;
    margin-right: 20px;
}

figure{
    margin-left: 0px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th{
    padding: 10px;
    text-align: center;
    background-color: white;
}

th {
    background-color: green;
}

a {
    text-decoration: none;
    margin: 10px    ;
    color: black;
    padding: 10px;
    border-radius: 10px;
    background-color: cadetblue;
}

a:hover {
    color: white;
    background-color: black;
}

.purple {
    background-color: purple;
    color: white;
}

.yellow {
    background-color: gold;
}

.blue {
    background-color: skyblue;
}
